.interest-top.row.collapse
  .small-7.columns
    %h2
      Weekly, die beste Art von Team-Feedbacks!
    %h5
      Probleme erkennen, lösen und abläufe verbessern.
    
    .row
      .small-2.columns
      .small-8.columns
        = render :partial => 'shared/new_interest', :locals => { :page => controller_name }
      .small-2.columns
  
  .small-5.columns
    = image_tag "http://www.skipprichard.com/wp-content/uploads/2013/09/bigstock-Teamwork-Diagram-42986869-583x327.jpg"
